# EditorConfig for PRB project
# Universal editor configuration
# See: https://editorconfig.org

root = true

# Default for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Rust files
[*.rs]
indent_style = space
indent_size = 4
max_line_length = 100

# TOML files
[*.toml]
indent_style = space
indent_size = 2

# YAML files (workflows)
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 80

# Makefile and Justfile
[{Makefile,justfile}]
indent_style = tab
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Cargo.lock (don't format)
[Cargo.lock]
insert_final_newline = false
